<div class="stats">
  <a href="<%= followers_organization_path(@organization) %>">
    <strong id="followers" class="stat">
      <%= @organization.followers.count %>
    </strong>
    followers
  </a>
</div>
